node_modules

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.vscode/**
.DS_Store
packages/hardhat/.env
packages/nextjs/.env
packages/hardhat/artifacts
packages/hardhat/cache
packages/hardhat/deployments
packages/hardhat/typechain-types
packages/nextjs/node_modules
packages/nextjs/.next
